<form class="form" [formGroup]="mapForm" (ngSubmit)="onSubmit()">

  <div class="input input-blue">
      <div class="input-field" [ngClass]="{'input-error': inp.inputError === true}" *ngFor = "let inp of inputDetail" >
          <label class="input-label" for="{{inp.label}}">{{inp.label}}</label>
          <input class="input-box " type="{{inp.type}}" id="{{inp.label}}" placeholder="{{inp.placeholder}}"  formControlName="{{inp.label}}" maxlength="30">
          <p class="input-validation" >{{inp.valid}}</p>
        </div>
  </div>
  <button
    class="button" [ngClass] = "buttonDetail.buttonToggle ? buttonDetail.skinBtn : buttonDetail.skinBtnOff"
    type="submit" [disabled]="!mapForm.valid">{{buttonDetail.buttonTitle}}</button>

</form>
