<form class="form">
  <div class="form-field error-input">
    <label class="form-label" for="name">name</label>
    <input class="form-input " type="text" id="name" placeholder="ex. Tom" maxlength="50">
    <p class="form-validation">validation error</p>
  </div>
  <div class="form-field">
    <label class="form-label" for="surname">surname</label>
    <input class="form-input" type="text" id="surname" placeholder="ex. Jonson" maxlength="50">
    <p class="form-validation">validation error</p>
  </div>
  <div class="form-field">
    <label class="form-label" for="mail">mail</label>
    <input class="form-input" type="text" id="mail" placeholder="ex. tom.jonson@gmail.com" maxlength="100">
    <p class="form-validation">validation error</p>
  </div>
  <div class="form-field">
    <label class="form-label" for="password">password</label>
    <input class="form-input" type="password" id="password" placeholder="minimum 8 characters and at least capital letter" maxlength="16">
    <p class="form-validation">validation error</p>
  </div>
  <div class="form-field">
    <label class="form-label" for="password-confirm">Confirm password</label>
    <input class="form-input" type="password" id="password-confirm" placeholder="please confirm your password" maxlength="16">
    <p class="form-validation">validation error</p>
  </div>
  <button class="form-button disabled-btn" type="button">Sign me up!</button>
</form>
