<form class="form" [formGroup]="mapForm" (ngSubmit)="onSubmit()">

  <div class="input input-blue" [ngClass]="inputDetail.skinInput">
    <div class="input-field">

      <label class="input-label " for="{{inputName.label}}">{{inputName.label}}</label>
      <input class="input-box"
             [ngClass]="name.invalid && (name.dirty || name.touched) ? inputDetail.skinInputError : ''"
             type="{{inputName.type}}"
             id="{{inputName.label}}"
             placeholder="{{inputName.placeholder}}"
             formControlName="{{inputName.label}}"
             maxlength="100"
             required>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">

        <div *ngIf="name.errors.required">
          {{inputName.required}}
        </div>
        <div *ngIf="name.errors.nameAndSurnameValidator">
          {{inputName.validationText}}
        </div>
      </div>

      <label class="input-label" for="{{inputSurname.label}}">{{inputSurname.label}}</label>
      <input class="input-box"
             [ngClass]="surname.invalid && (surname.dirty || surname.touched) ? inputDetail.skinInputError : ''"
             type="{{inputSurname.type}}"
             id="{{inputSurname.label}}"
             placeholder="{{inputSurname.placeholder}}"
             formControlName="{{inputSurname.label}}"
             maxlength="100"
             required>
      <div *ngIf="surname.invalid && (surname.dirty || surname.touched)"
           class="alert alert-danger">

        <div *ngIf="surname.errors.required">
          {{inputSurname.required}}
        </div>
        <div *ngIf="surname.errors.nameAndSurnameValidator">
          {{inputSurname.validationText}}
        </div>
      </div>

      <label class="input-label" for="{{inputMail.label}}">{{inputMail.label}}</label>
      <input class="input-box"
             [ngClass]="mail.invalid && (mail.dirty || mail.touched) ? inputDetail.skinInputError : ''"
             type="{{inputMail.type}}"
             id="{{inputMail.label}}"
             placeholder="{{inputMail.placeholder}}"
             formControlName="{{inputMail.label}}"
             maxlength="100"
             required>
      <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
           class="alert alert-danger">

        <div *ngIf="mail.errors.required">
          {{inputMail.required}}
        </div>
        <div *ngIf="mail.errors.mailValidator">
          {{inputMail.validationText}}
        </div>
      </div>

      <label class="input-label" for="{{inputPassword.label}}">{{inputPassword.label}}</label>
      <input class="input-box"
             [ngClass]="password.invalid && (password.dirty || password.touched) ? inputDetail.skinInputError : ''"
             type="{{inputPassword.type}}"
             id="{{inputPassword.label}}"
             placeholder="{{inputPassword.placeholder}}"
             formControlName="{{inputPassword.label}}"
             maxlength="16"
             required>
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
           class="alert alert-danger">
        <div *ngIf="password.errors.required">
          {{inputPassword.required}}
        </div>
        <div *ngIf="password.errors.pswValidator">
          {{inputPassword.validationText}}
        </div>
      </div>

    </div>
  </div>

  <button
    class="button" [ngClass]=" mapForm.invalid ? buttonDetail.skinBtnOff : buttonDetail.skinBtn"
    type="submit" [disabled]="mapForm.invalid">{{buttonDetail.buttonTitle}}</button>
</form>
