.form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  &-field {
    display: flex;
    flex-direction: column;
    margin: 0 0 25px 0;
  }
  &-label {
    font-weight: 700;
  }
  &-input {
    height: 35px;
    font-size: 16px;
    margin: 6px 0 0 0;
    border: 1px #11057b8a solid;
    color: #11057b;
    background-color: #f4f4f4;
    &:hover {
      border: 1px #11057b solid;
    }
    &:focus {
      outline:none;
      border: 1px #11057b solid;
      background-color: #ffffff;
    }
    &::-webkit-input-placeholder {
      color: rgba(17, 5, 123, 0.31);
    }
    &:focus::-webkit-input-placeholder {
      color: white;
    }
  }

  &-validation {
    display: none;
  }
}

// MODIFY CLASS
//input
.error-input {
  margin-bottom: 0;
  input {
    background-color: rgba(244, 0, 6, 0.26);
  }
  p {
    display: block;
    margin: 2px 0 9px 0;
    font-size: 12px;
    color: red;
    cursor: default;
  }
}
